!!!
html
	head
		title= 'WebRunners'
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/category.css')
		link(rel='stylesheet', href='/stylesheets/slider.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
		script(type='text/javascript')
	body
		#wrapper
			!= body
	script(type='text/javascript', src='/javascripts/application.js')