!!!
html
	head
		title= 'WebRunners'
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/slider.css')
		link(rel='stylesheet', href='/stylesheets/category.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
		script(type='text/javascript')
	body
		#container
			#header
				a(href='/')
					#logo
						img(src='../images/runner_transp.png', alt='webrunner')
						.txt Web Runners
				#nav
					a.button(href='#') Presentes
					a.button(href='#') Experiências
					a.button(href='#') Serviços
					a.button(href='#') Produtos
					#logout
						a(href='#') Log Out
			!= body
		script(type='text/javascript', src='/javascripts/application.js')