h1 Your Offers

p
	a(class='button', href='/offers/new') + Offer

ul
	- for (d in offers) {
	li
		a(class='button', href='/offers/' + offers[d].id + '/edit') Edit
		a(class='button destroy', href='/offers/' + offers[d].id) Delete
		a(href='/offers/' + offers[d].id)
			=offers[d].name
	- }