h1#logo 							{font-size:32px; font-weight:bold; margin-top:30px; color:#000000;}

ul#navigation						{text-transform:uppercase;}
ul#navigation li 					{float:right; display:inline; margin : 0 0 0 40px;}
ul#navigation li a					{font-family:arial, sans-serif !important; display:block; padding:44px 0 0; text-decoration:none; color:#000000; font-size:14px; font-weight:bold;}
ul#navigation li a:hover,
ul#navigation li a.current			{background:url(../images/triangle.gif) no-repeat center top;}

/* Custom Grid */

	.container_12 						{margin-left:auto; margin-right:auto; width:1020px;}
	.float								{display:inline; float:left; position:relative;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 							{display:inline; float:left; position:relative; margin-left:20px; margin-right:20px;}
	.container_12 .grid_1				{width:45px;}
	.container_12 .grid_2 				{width:130px;}
	.container_12 .grid_3 				{width:215px;}
	.container_12 .grid_4 				{width:300px;}
	.container_12 .grid_5 				{width:385px;}
	.container_12 .grid_6 				{width:470px;}
	.container_12 .grid_7 				{width:555px;}
	.container_12 .grid_8 				{width:640px;}
	.container_12 .grid_9 				{width:725px;}
	.container_12 .grid_10 				{width:810px;}
	.container_12 .grid_11 				{width:895px;}
	.container_12 .grid_12 				{width:980px;}
	
	.meta								{font-weight:normal;font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; font-size:11px; color:#999999 !important; line-height:16px; text-transform:none; text-shadow:none;}