/*Category*/
#categorywrap {
	height: 360px;
	position: relative;
	margin: 20px 0 30px 0;
	padding: 20px 0px 30px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b3b4b7;
}
.category {
	float: left;
	width: 300px;
}
.category-middle {
	float: left;
	width: 300px;
	margin: 0 20px 0 20px;
}
#category-picture {
	height: 300px;
	width: 300px;
	margin-top: 5px;
}

#category-picture img{
	padding: 0px;
	height: 300px;
	width: 300px;
	border: 3px solid #222;
}
#categorywrap a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #d56528;
	padding-left: 5px;
	margin-bottom: 10px;
	margin: 0px;
	display: inline;
	text-decoration: none;
}
#categorywrap a:hover {
	color: #333333;
}
#categorywrap .view-all {
	background-image: url(../images/viewall.png);
	background-repeat: no-repeat;
	height: 39px;
	width: 304px;
	position: relative;
	top: -39px;
}
#categorywrap .view-all a {
	display: block;
	height: 39px;
	width: 300px;
	line-height: 38px;
	text-align: center;
	padding: 0px;
}
#categorywrap .view-all a:hover {
	color: white;
}
#categorywrap .view-all p {
	height: 200px;
	width: 300px;
	text-align: justify;
	padding: 0px;
	margin-top: 10px;
}
/*End of category*/