#login_content
	.box
		div
			h1 Log In
		div
			form.users#login(method='post', action='/sessions')
				!=partial('../partials/users_fields', { locals: { user: user, register: false } })
				ul#inputs
					li
						a(href='#')
							input(type='submit', value='Log In')
					li
						a(href='/users/new')
							input(type='button', value='Criar conta')