#login_content
	.box
		div
			h1 Criar conta
		div
			form.users#login(method='post', action='/users')
				!=partial('../partials/users_fields', { locals: { user: user }, register: true })
				ul#inputs
					li
						a
							input(type='submit', value='Criar conta')
					li
						a(href='/sessions/new')
							input(type='button', value='Voltar')